<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <style>
        * {
            box-sizing: border-box;
        }

        body,
        html {
            font-family: arial, helvetica, sans-serif;
        }

        /* //SET UP GRID */
        .col-1 {
            width: 7.418%;
        }

        .col-2 {
            width: 15.83%;
        }

        .col-3 {
            width: 24.25%;
        }

        .col-4 {
            width: 32.66%;
        }

        .col-5 {
            width: 41.08%;
        }

        .col-6 {
            width: 49.5%;
        }

        .col-7 {
            width: 57.91%;
        }

        .col-8 {
            width: 66.33%;
        }

        .col-9 {
            width: 74.75%;
        }

        .col-10 {
            width: 83.16%;
        }

        .col-11 {
            width: 91.58%;
        }

        .col-12 {
            width: 100%;
        }

        [class*="col-"] {
            float: left;
            padding: 15px;
            text-align: center;
            margin: 0 0 0 1%;
            /* background-color: #d8d8d8; */
        }

            [class*="col-"]:first-child,
            [class*="col-"]:first-of-type {
                margin: 0;
            }

        .row {
            width: 100%;
            margin: 0 auto;
        }

            .row::after {
                content: "";
                clear: both;
                margin: 0 0 10px 0;
                display: table;
            }


        #Container {
            max-width: 960px;
            margin: 0 auto;
            background-color: antiquewhite;
        }

        #data {
            text-align: center;
        }

        #pp {
            font-size: 1.3em;
        }
        h2{
            text-align:center;
            padding:5px;
        }
    </style>

    <div id="Container">
        <div id="data">
            <h1 style="background-color: beige">About Us</h1>
            <p>
                ORDINARY... WE’D RATHER NOT. PERFECT... THANKS BUT NO THANKS. WE ARE
                EQUAL PARTS MAKERS AND BREAKERS. AN UNAPOLOGETIC BAND OF THE
                CURIOUS-MINDED, WHO REVEL IN TRIAL AND WELCOME ERROR. A COLORFUL
                LIFE THAT DEFIES CONVENTION. WE ARE STITCHED DIFFERENT
            </p>
            <p>
                Our Brand was Found in the 2010, When our CEO
                <i>Arshdeep Singh</i> had a vision of creating a store which highly
                AND only focus on the Socks culture. He believed that Socks are as
                much as important to your outfit as you Shoes.
            </p>
            <p style="background-color: beige">
                Socks are the Most underrated and generally neglected part of the
                Outlook, Socks can represent a lot about person's Wardrobe.
            </p>
        </div>
        <img style="width: 960px"
             src="https://nimble-needles.com/wp-content/uploads/2021/03/the-knitted-socks-modeled-on-feet-1024x731.jpg" />

       
           <div>
                <h2>HeadQuarters</h2>

                <img style="width: 960px"src="https://images.adsttc.com/media/images/5c3f/3bbb/284d/d125/fd00/008d/medium_jpg/_DSC6179-HDR-%E7%BC%96%E8%BE%91-%E5%90%B4%E6%B8%85%E5%B1%B1.jpg?1547647921" />
                <p style="text-align:center;">
                    Our HeadQuarters are Located in Windsor, Only 20 minutes drive from the Downtown, Which makes easy for
                    our employees to Commute.
                </p>
           </div>
           <div style="max-width:100%; text-align:center; background-color: beige">
               <h2>Team Members</h2>
               <div id="pp">
                   <p>
                       We are currently team of 20 people,with Cutural Diversity and friendly towards each other.
                   </p>
                   <p>Founder : Arshdeep Singh</p>
                   <p>CEO: Arshdeep Singh</p>
                   <p>CFO: Roger Waters</p>
                   <p>COO : Marshall Mathers</p>
               </div>
           </div>
        
    </div>


</body>
</html>
