<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap" rel="stylesheet">
</head>


<body>
    <style>
        h1 {
            background-color: rgb(21, 87, 21);
            color: bisque;
            padding-top: 11px;
            padding-bottom: 11px;
        }

        #Hello {
            max-width: 960px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Shantell Sans', cursive;
        }

        #Back {
            background-color: antiquewhite;
            
        }

        p {
            background-color: rgba(60, 31, 3, 0.745);
            padding-top: 11px;
            padding-bottom: 11px;
            color: aliceblue;
            font-weight: bold;
        }
    </style>
    <div id="Back">
        <div id="Hello">
            <h1>Welcome to SoulSocks</h1>
            <p>
                This is the official Website for Your favourite Store for Socks.
            </p>
            <p>
                We pleased to have you, Please Go through our vast list of produts and We are sure that you woul like what
                we have to offer.
            </p>
            <img style="width: 960px"
                 src="https://c1.wallpaperflare.com/preview/100/583/787/fun-foot-outdoors-winter.jpg" />

            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


        </div>
    </div>

</body>

