@{
    ViewData["Title"] = "Privacy Policy";
}



<div style="background-color: azure; font-family: 'Shantell Sans', cursive; ">
    <h1 style="text-align:center; background-color:antiquewhite;">@ViewData["Title"]</h1>
    <p style="text-align:center;">Use this page to detail your site's privacy policy.</p>
</div>
